
body {
  font-family: Arial, sans-serif; /* Body text */
}
.appbackground{
  background-color:var(--header-background);
}

.apptitle{
  color:white; font-size:36px
  ; text-align: center; padding:10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set full viewport height */
}

app-footer {
  bottom: 0;
  width: 100%;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {

  /* Adjust styles for smaller screens */
  .content-container {
    min-height: auto;
    /* Reset the minimum height */
  }

  app-footer {
    position: relative;
    /* Reset the footer position */
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


