
<!--drop down to select P ya C, P ka mtlb Current hai C ka past-->

<div class="container mt-4">
  <div class="mb-3">
    <label for="historyTypeSelect" class="form-label fw-bold">Select Request Type: </label>
    <select
      id="historyTypeSelect"
      class="form-select w-auto d-inline-block"
      [(ngModel)]="historyType"
      (change)="onHistoryTypeChange(historyType)"
    >
      <option value="P" selected>Current Requests</option>
      <option value="C">Past Requests</option>
    </select>
  </div>

 <!--yaha se for loop laga ke data-->
  <div class="table-responsive shadow rounded">
    <table class="table table-hover table-bordered table-striped">
      <thead class="table-dark text-center">
        <tr>
          <th>EQ Request No.</th>
          <th>PNR</th>
          <th>Train No.</th>
          <th>Total Passengers</th>
          <th>Requested Passengers</th>
          <th>Accepted Passengers</th>
          <th>Current Status</th>
          <th>Remarks by Railways</th>
          <th>Created On</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let row of userHistory">
          <td>{{ row.eqRequestNo }}</td>
          <td>{{ row.pnr }}</td>
          <td>{{ row.trainNo }}</td>
          <td>{{ row.totalPassengers }}</td>
          <td>{{ row.requestPassengers }}</td>
          <td>{{ row.acceptedPassengers || "N/A"}}</td>
          <td>{{ row.currentStatus }}</td>
          <td>{{ row.remarks || "nil"}}</td>
          <td>{{ row.createdOn }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
