<div class="container mt-4">
  <div class="mb-3">
    <label for="historyTypeSelect" class="form-label fw-bold">Select Request Type: </label>
    <select
  id="historyTypeSelect"
  class="form-select w-auto d-inline-block"
  [(ngModel)]="historyType"  
  (change)="onHistoryTypeChange(historyType)"  
>
  <option value="P" selected>Current Requests</option> <!-- Default value for 'Current Requests' -->
  <option value="C">Past Requests</option> <!-- Option for 'Past Requests' -->
</select>
<div id="button">
  <button  class="btn btn-success me-2" (click)="exportToExcel()">
    Download Excel
  </button>
  <button  class="btn btn-danger" (click)="exportToPDF()">
    Download PDF
  </button>
</div>
  </div>
  <!DOCTYPE html>
  
 <div class="table-responsive shadow rounded">
  <table id="myTable" *ngIf="responseRole != null && tableInitialized" class=" table table-hover table-bordered table-striped">
    <thead class="table-dark text-center">
      <tr>
        <th>EQ Request No.</th>
        <th>Train No.</th>
        <th>Accepted / Requested / Total Passengers</th>
        <th>Current Status</th>
        <th>Created On</th>
        <ng-container *ngIf="responseRole == 'ROLE_AA' || responseRole == 'ROLE_RAILWAY'">
        <th>Train Start Date</th>
        <th>Train Journey Date</th>
        <th>Source / Destination</th>
        <th>Requested by</th>
        <th>Action</th>
        </ng-container>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let row of userHistory">
        <td>{{ row.eqRequestNo }} ({{ row.pnr }}) </td>
        <td>{{ row.trainNo }}</td>
        <td>{{ row.acceptedPassengers || "NA" }} / {{ row.requestPassengers }} / {{ row.totalPassengers }}</td>
        <td>{{ row.currentStatus }}</td>
        <td>{{ row.createdOn }}</td>
        <ng-container *ngIf="responseRole == 'ROLE_AA' || responseRole == 'ROLE_RAILWAY' ">
        <td>{{ row.trainStartDate || "N/A" }}</td>
        <td>{{ row.jrnyDate || "N/A" }}</td>
        <td>{{ row.srcStation || "N/A" }} / {{ row.destStation || "N/A" }}</td>
        <td>{{ row.mpName || "N/A" }}</td>
        <td>
          <button
            *ngIf="responseRole && row.assignedToAuthority && responseRole === row.assignedToAuthority" class="btn btn-primary btn-sm" (click)="takeAction(row.id)">
            Take Action
          </button>
        </td>
      </ng-container>
      </tr>
    </tbody>
  </table>
</div>

</div>
